<div class="container">
  <div>
    <div class="d-flex justify-content-between">
      <form action="/admin/category-management" method="get" class="d-flex justify-content-start">
        <div class="text-start d-flex ms-3">
<input type="search" class="form-control text-start ms-5 rounded-3"  placeholder="Search Category" aria-label="Search" aria-describedby="search-addon" name="search" style="font-size: 12px; padding: 0.25rem 0.5rem;">
          <button style="border: none;background-color:transparent;" type="submit" class="fas fa-search"></button>
        </div>
      </form>
     <!-- Button trigger modal -->
 <button class="btn text-white btn-sm " data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #088173;height: 30px;"> <i class="fa fa-plus"></i>Add Banner</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6" id="exampleModalLabel">Add Category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{#if bannerError}}
        <p class="text-danger fw-bold">{{bannerError}}</p>
        {{/if}}
        <form action="/admin/banner" method="post" enctype="multipart/form-data">
            <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter title</label>
    <input required placeholder="Enter Category Name..." type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <label for="exampleInputEmail1" class="form-label"></label>
    <input required placeholder="" type="file" name="image" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
    </div>
    <table class="table table-responsive-sm align-middle mb-0 bg-white mt-1">
      <thead class="bg-light ">
        <tr style="font-size: 12px;" class="rounded-5">
          <th>Image</th>
          <th>Title</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each banner}}
        <tr>
            <td>
            <img style="width: 90px; height: 40px" src="/uploads/{{image}}" alt="">
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-2">
                <p class="fw-bold mb-0" style="font-size: 12px;">{{title}}</p>
              </div>
            </div>
          </td>
          <td>
            <a onclick="return confirm('do you want to delete this banner')" href="/admin/delete-banner/{{_id}}" class="" ><img width="10px" src="/assets/trash.png" alt="" srcset="" style="width:20px"></a>
          </td>
          
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>


