<button
  style="width: 70px;border: none;position: sticky;top:10px"
  class="btn pt-3"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasScrolling"
  aria-controls="offcanvasScrolling"
><i class="fa-solid fa-bars fa-xl"></i></button>

<div
  class="offcanvas offcanvas-start rounded-4"
  style="width: 13.7rem;"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><img
        style="width: 160px;"
        src="/assets/Screenshot3062-31-SignUp.png"
        alt=""
      /></h5>
    <button
      style="border: none;background-color: white;"
      type="button"
      class="fa-solid fa-bars fa-xl me-5 pe-5"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <a
      href="#"
      class="list-group-item list-group-item-action py-2 ripple"
      aria-current="true"
    >
      <p style="font-size: xx-small;">ADMIN PANEL</p>
      <i class="fa-fw me-3"><img
          src="/assets/smart-home.png"
          alt=""
          srcset=""
        /></i><span class="fs-6 fw-semibold">Dashboard</span>
    </a>
    <a
      href="/admin/order-management/"
      class="list-group-item list-group-item-action py-2 ripple active"
    >
      <i class="fa-fw me-3"><img src="/assets/shopping-cart.png" alt="" /></i><span
        class="fs-6 fw-semibold text-secondary"
      >Orders</span>
    </a>
    <a
      href="/admin/user-management/"
      class="list-group-item list-group-item-action py-2 ripple active"
    >
      <i class="fa-fw me-3"><img src="/assets/users.png" alt="" /></i><span
        class="fs-6 fw-semibold text-secondary"
      >Customers</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
        class="fas fa-lock fa-fw me-3"
      ></i><span class="fs-6 fw-semibold text-secondary">Password</span></a>
    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
        class="fas fa-chart-line fa-fw me-3"
      ></i><span class="fs-6 fw-semibold text-secondary">Analytics</span></a>
    <a href="/admin/coupon-management" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fas fa-chart-pie fa-fw me-3"></i><span
        class="fs-6 fw-semibold text-secondary"
      >Coupon</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
        class="fas fa-chart-bar fa-fw me-3"
      ></i><span class="fs-6 fw-semibold text-secondary">Orders</span></a>
    <a href="/admin/category-management" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fa-fw me-3"> <img src="/assets/Group.png" alt="" srcset=""></i><span
        class="fs-6 fw-semibold text-secondary"
      >Category</span>
    </a>
    <p style="font-size: xx-small;">PRODUCTS</p>
    <a href="/admin/add-product" class="list-group-item list-group-item-action py-2 ripple"><img src="/assets/circle-plus.png" alt="" srcset=""><i
        class=" fa-fw me-3"
      ></i><span
        class="fs-6 fw-semibold text-secondary"
      >Add product</span></a>
    <a href="/admin/view-products" class="list-group-item list-group-item-action py-2 ripple"><img src="/assets/circle-plus.png" alt="" srcset=""><i
        class=" fa-fw me-3"
      ></i><span
        class="fs-6 fw-semibold text-secondary"
      >View products</span></a>
    <a href="/admin/banner" class="list-group-item list-group-item-action py-2 ripple"><i
        class="fas fa-building fa-fw me-3"
      ></i><span class="fs-6 fw-semibold text-secondary">Banner</span></a>
    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
        class="fas fa-calendar fa-fw me-3"
      ></i><span class="fs-6 fw-semibold text-secondary">Calendar</span></a>
    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
        class="fas fa-users fa-fw me-3"
      ></i><span class="fs-6 fw-semibold text-secondary">Users</span></a>
    <a href="/admin/logout" class="list-group-item list-group-item-action py-2 ripple btn btn-danger"><i
      ></i><span class="fs-6 fw-semibold btn btn-danger text-white">Logout</span></a>
  </div>
</div>