<section class="vh-100" style="background-color: #ffffff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-sm-10 col-md-6 col-xl-4">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-2 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="/change-password" method="post">
                  <div class="d-flex align-items-center mb-3 pb-1 text-center">
                    <img
                      class="ms-3"
                      src="/assets/Screenshot3062-31-SignUp.png"
                      alt=""
                      srcset=""
                    />
                  </div>

                  <h5
                    class="fw-normal mb-3 pb-3 ms-5 fw-bold text-center"
                    style="letter-spacing: 1px;"
                  >CHANGE PASSWORD</h5>
                  <p
                    id="errId"
                    class="text-danger text-center fw-bold"
                  >{{invalidEmail}}</p>
                  {{#if matchError}}
                  <p
                    id="errId"
                    class="text-danger text-center fw-bold"
                  >{{matchError}}</p>
                  {{/if}}

                  <div class="form-outline">
                    <label
                      class="form-label"
                      for="form2Example27"
                    >New Password</label>
                    <input
                      name="newPassword"
                      type="password"
                      id="form2Example27"
                      class="form-control form-control"
                      required
                      minlength="8"
                    />
                  </div>
                  <div class="form-outline">
                    <label
                      class="form-label"
                      for="form2Example27"
                    >Confirm Password</label>
                    <input
                      name="confirmPassword"
                      type="password"
                      id="form2Example27"
                      class="form-control form-control"
                      required
                      minlength="8"
                    />
                  </div>
                  <div class="form-outline">
                    <input
                      name="email"
                      type="text"
                      id="emailInput"
                      class="form-control form-control"
                      value="{{userEmail}}"
                      required
                      hidden
                    />
                  </div>
                    <div class="pt-1 mb-4 text-center mt-3">
                    <button
                      style="background-color: #088178;"
                      class="btn btn-block"
                      type="submit"
                    >Change</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <script>
  document.getElementById('emailInput').focus(); // Focusing the email input
</script>
